@media  screen and (max-width: 550px) {
    .menu-btn, .btn-cerrar{
        display: block;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0rem;
        background-color: var(---of-white);
        padding: 1rem;
        box-shadow: 0 0 0 100vmax rgba(201, 148, 64, 0.568);
        transition: all 1s ease;
    }
    .visible{
        opacity: 1;
        visibility: visible;
        transition: all 1s ease;
    }
    .nav ul{
        flex-direction: column;
        align-items: start;
        padding-right: 7rem;
    }
}